#container
{
    max-width: 256px;
    max-height: 224px;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform-origin: 50% 50%;
    -moz-transform: rotate(-90deg);
    -ms-transform-origin: 50% 50%;
    -ms-transform: rotate(-90deg);
    -o-transform-origin: 50% 50%;
    -o-transform: rotate(-90deg);
    padding: 10px 0px 30px 0;
}

body
{
    font-family: "Arial";
    font-size: 12px;
}